{% extends "housekeeping/base.html" %}
{% block content %}
    <div class="container">
      <br>
      <div class="jumbotron">
    <h4>{{ name }}</h4>
    {% if list %}
    <ol>
    {% for item in list %}
      <li>
          {% if name == 'Workers' %}
          <a href='/worker/{{item.id}}'>
          {% endif %}
          <b>Name:</b> {{item.name}}<br>
          <b>Object ID:</b> {{item.id}}<br>
          {% if name == 'Workers' %}
          </a>
          {% endif %}
      </li>
      <br>
    {% endfor %}
  </ol>
  {% else %}
  <p>No Records Found!</p>
  {% endif %}
{% endblock %}
  </body>
</html>
