{% extends "housekeeping/base.html" %}
{% block content %}
    <div class="container">
      <br>
      <div class="jumbotron">
      <h1> Hello {{ name }}</h1><br><h3>Your Tasks are</h3><br>
    {% if tasks %}
    <ol>
    {% for task in tasks %}
      <li>
          <b>Name:</b> {{task.name}}<br>
          <b>Asset:</b> {{task.asset_name}}<br>
          <b>Frequency:</b> {{task.frequency}}<br>
          <b>Deadline:</b> {{ task.task_to_be_performed_by }}<br>
      </li>
      <br>
    {% endfor %}
  </ol>
  {% else %}
  <p>No Records Found!</p>
  {% endif %}
{% endblock %}
  </body>
</html>
